.button-humburger {
    position: relative;
    width: 56px;
    height: 56px;
    background: transparent;
}

.button-humburger > div {
    position: absolute;
    width: 56px;
    height: 3px;
    transition: all 0 2s;
    background-color: #000;
}

.button-humburger > div:first-child {
    top: 15px;
    left: 0;
}

.button-humburger > div:last-child {
    bottom: 15px;
    left: 0;
}

.button-humburger.is-active > div:first-child {
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

.button-humburger.is-active > div:last-child {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
